<a href="https://colab.research.google.com/github/FjC-737/Tarea_1.2-IA/blob/main/Tarea1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

df_ventas = pd.read_csv('ventas.csv')

print(df_ventas.columns)

ventas_por_categoria = df_ventas.groupby('Producto')['Cantidad'].sum().reset_index()
print("Cantidad total de productos vendidos por categoría:")
print(ventas_por_categoria)

Index(['Producto', 'Cantidad', 'Precio_Unitario'], dtype='object')
Cantidad total de productos vendidos por categoría:
      Producto  Cantidad
0  Auriculares        53
1    Impresora        65
2       Laptop        49
3      Monitor       113
4        Mouse        55
5  Silla Gamer        77
6      Teclado        73
7       Webcam        56

In [9]:
df_ventas['TotalVentaProducto'] = df_ventas['Cantidad'] * df_ventas['Precio_Unitario']

ventas_totales_por_producto = df_ventas.groupby('Producto')['TotalVentaProducto'].sum().reset_index()

producto_mayor_venta = ventas_totales_por_producto.loc[ventas_totales_por_producto['TotalVentaProducto'].idxmax()]
print("\nProducto con el mayor total de ventas:")
print(producto_mayor_venta)


precio_promedio = df_ventas.groupby('Producto')['Precio_Unitario'].mean()
print("\nPrecio promedio de los productos vendidos:")
precio_promedio

Producto con el mayor total de ventas:
Producto              Monitor
TotalVentaProducto      79008
Name: 3, dtype: object

Precio promedio de los productos vendidos:

Producto
Auriculares    437.500000
Impresora      490.000000
Laptop         771.333333
Monitor        669.500000
Mouse          354.000000
Silla Gamer    480.500000
Teclado        530.285714
Webcam         340.000000
Name: Precio_Unitario, dtype: float64

Analisis del Clima

In [11]:
df_clima = pd.read_csv('clima.csv')
print(df_clima.columns)


temp_prom_ciudad= df_clima.groupby('Ciudad')['Temperatura'].mean().reset_index()
print("Temperatura promedio por ciudad:")
print(temp_prom_ciudad)

Index(['Fecha', 'Ciudad', 'Temperatura'], dtype='object')
Temperatura promedio por ciudad:
             Ciudad  Temperatura
0            Bogotá    14.650794
1      Buenos Aires    15.226571
2  Ciudad de México    17.250833
3            Madrid    13.870000
4          Santiago    13.993718

In [14]:
temp_max_ciudad = df_clima['Temperatura'].max()
print("Registro con la temperatura más alta:")
print(temp_max_ciudad)

temp_min_ciudad = df_clima['Temperatura'].min()
print("Registro con la temperatura más baja:")
print(temp_min_ciudad)

Registro con la temperatura más alta:
34.62
Registro con la temperatura más baja:
-4.8

In [23]:
indice_max = df_clima['Temperatura'].idxmax()
ciudad_max = df_clima.loc[indice_max, 'Ciudad']
temp_max = df_clima.loc[indice_max, 'Temperatura']


indice_min = df_clima['Temperatura'].idxmin()
ciudad_min = df_clima.loc[indice_min, 'Ciudad']
temp_min = df_clima.loc[indice_min, 'Temperatura']

print(f"La ciudad con la temperatura más alta es {ciudad_max} con {temp_max}")
print(f"La ciudad con la temperatura más baja es {ciudad_min} con {temp_min}")

masde30= df_clima['Temperatura']>30

cant= masde30.sum()

print(cant)

conteo = df_clima.groupby('Ciudad')['Fecha'].count()
print(conteo.sum())

La ciudad con la temperatura más alta es Madrid con 34.62
La ciudad con la temperatura más baja es Madrid con -4.8
50
365